<!-- start facebook lightbox -->
<a href="#" class="lightbox-fb">
  <img src="../assets/images/lightbox-fb.png" class="img-responsive fb-lightbox">
  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcompact.computer.services%2F&tabs&width=350&height=220&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" width="350" height="220" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</a>
<!-- end facebook lightbox -->

<footer class="container-fluid text-center">
  <div class="row footer-row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <ul class="list-group menu-footer">
        <li class="list-group-item head-footer">INFORMATION</li>
        <li class="list-group-item text-footer"><a routerLink="">Home</a>
        </li>
        <li class="list-group-item text-footer"><a routerLink="/toparajark">Top Offer</a>
        </li>
        <li class="list-group-item text-footer"><a routerLink="/services">Services</a>
        </li>
        <li class="list-group-item text-footer"><a routerLink="/partners">Partners</a>
        </li>
        <li class="list-group-item text-footer"><a routerLink="/about">About us</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="row ">
        <div class="col-lg-12">
          <ul class="list-group sub">
            <li class="list-group-item head-footer">FOLLOW US</li>
            <li class="list-group-item input-email">
              <form class="form-inline">
                <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="email address">
                </div>
                <button type="submit" class="btn btn-primary">Subscribe</button>
              </form>
            </li>
          </ul>
          <ul class="list-inline social">
            <li class="list-inline-item social-li"><a href="https://www.facebook.com/compact.computer.services/" target="_blanc"><i class="icon-facebook icon-2"></i></a>
            </li>
            <li class="list-inline-item social-li"><a href="#"><i class="icon-youtube icon-2"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <ul class="list-group address">
        <li class="list-group-item head-footer">CONTACTS</li>
        <li class="list-group-item text-footer">{{datas.adress}}</li>
        <li class="list-group-item text-footer">{{datas.country}}</li>
        <li class="list-group-item text-footer">{{datas.email}}</li>
        <li class="list-group-item text-footer">{{datas.phone1}}</li>
        <li class="list-group-item text-footer">{{datas.phone2}}</li>
      </ul>
    </div>
  </div>
  <div class="row footer-bottom">
    <div class="col-lg-12 copy">
      <p class="pull-right">Copyright © 2018 <img src="../assets/images/footer-img.png" class="footer-img"> All rights reserved</p>
      <p class="pull-left">Developed by <a href="#">TwinSoft</a></p>
    </div>
  </div>
</footer>
<!-- end footer -->
