<section class="container contact-page">
  <h1 class="contact-h1">About Us</h1>
  <div class="row contact-row">
    <div class="col-sm-12 col-md-5 col-lg-5">
      <div class="contact-block">
        <ul class="list-group address-contact">
          <li class="list-group-item text-contact"><span class="glyphicon glyphicon-home"></span>{{datas.adress}}</li>
          <li class="list-group-item text-contact"><span class="glyphicon glyphicon-map-marker"></span>{{datas.country}}</li>
          <li class="list-group-item text-contact"><span class="glyphicon glyphicon-envelope"></span>{{datas.email}}</li>
          <li class="list-group-item text-contact"><span class="glyphicon glyphicon-earphone"></span><span class="tel-span">{{datas.phone1}}<br>{{datas.phone2}}</span></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7">
      <div class="contact-block">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3046.3015937213804!2d44.49230611566659!3d40.22459607522566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zIDJuZCBCbG9jayAzNCwgRGF2dGFzaGVuINCV0YDQtdCy0LDQvSAwMDU0!5e0!3m2!1sru!2s!4v1522312193092"
                width="600" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
