<section class="container home-page">
  <div class="row home-row">


    <!-- start home section -->
    <div class="col-sm-12 col-md-12 col-lg-12 home-col-smal">
      <div class="row">


        <!-- start search -->
        <div class="col-sm-12 col-md-12 col-lg-12 search-con">
          <form class="search-block">
            <button class="btn btn-default top-btn submit" type="submit">
              <img src="../assets/images/searchicon.png">
            </button>
            <input type="text" name="search" autofocus="autofocus" id="search" class="search-input search">

          </form>
        </div>
        <!-- end search -->

        <!-- start sales -->
        <div class="col-lg-12 latest-head">
          <h3>Sales</h3>
        </div>
        <div class="row" *ngFor="let data of datas">
          <div class="col-sm-12">
            {{data.sales}}
            <hr>
          </div>
        </div>
        <div class="col-lg-12 latest-head">
          <h3>Why we</h3>
        </div>
        <div class="row" *ngFor="let data of datas">
          <div class="col-sm-12">
            {{data.whyMe}}
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
